{% extends 'introautomabigdata.html' %}

{% block content %}
 
     <h1 class="text-center">Automatización Industrial</h1><h1>CURSOS NIVEL 2 DE AUTOMATIZACION INDUSTRIAL</h1><h2>Conmutación y enrutamiento</h2><h2>Radiocomunicaciones y antenas</h2><h2>Señales y sistemas</h2><h2>Introducción a la electrónica y telecomunicaciones</h2><h2>Programación avanzada</h2><h2>Big data</h2>
     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
    
{% endblock %}